html, body {
    height: 100%;
    margin: 0;

    background-color: lightgray;
}

div h1 {
    box-sizing: border-box;
    border: solid red 1px;
}

h1 {
    font-size: 24px;
}

body {
    background-image: url("../images/45degreee_fabric/45degreee_fabric.png");
    /* background-image: url("../images/creampaper/creampaper.png"); */
    /* background-image: url("../images/handmadepaper/handmadepaper.png"); */
    /* background-image: url("../images/natural_paper/natural_paper.png"); */
    /* background-image: url("../images/ricepaper_v3/ricepaper_v3.png"); */
}

.header {
    margin: 0;
    /* margin-bottom: 130px; */
    background-color: rgba(255,255,255,0.9);
    height: 68px;
    border-bottom: solid 1px #cccccc;
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
}

.menu-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;    
}

.menu-container h1 {
    color:  rgba(255,255,255,0.9);
    background-color: #4aaaa5;
    height: 68px;
    
    float: left;
    margin: 0;
    padding: 16px 20px 0 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 20px 0 0;;
    height: 48px;
}

li {
    float: right;
}

li a {
    display: block;
    margin: 8px;
    background-color: rgba(255,255,255,0.9);
}  


.wrapper {
    clear: both;
    overflow: auto;
    padding: 0px;
    min-height: 100%;
    margin: 0px 0 -68px;
}

.profile {
    width: 960px;
    background-color: #ffffff;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
}

.footer,
.push {
    height: 68px;
}

.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
 }