html, body {
    height: 100%;
    margin: 0;
    background-color: lightgray;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

/* div h1 {
    box-sizing: border-box;
    border: solid red 1px;
} */

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

body {
    background-image: url("../images/45degreee_fabric/45degreee_fabric.png");
    /* background-image: url("../images/creampaper/creampaper.png"); */
    /* background-image: url("../images/handmadepaper/handmadepaper.png"); */
    /* background-image: url("../images/natural_paper/natural_paper.png"); */
    /* background-image: url("../images/ricepaper_v3/ricepaper_v3.png"); */
    background-repeat: repeat;
}

.header {
    margin: 0;
    /* margin-bottom: 130px; */
    background-color:#ffffff;
    height: 90px;
    border-bottom: solid 2px #cccccc;
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
}

.menu-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;    
}

.menu-container h1 {
    color:  rgba(255,255,255,0.9);
    background-color: #4aaaa5;
    height: 88px;
    float: left;
    margin: 0;
    padding: 20px;
}

.menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 30px 0 0 0;;
    height: 48px;
}

.menu-container li {
    float: right;
}

.menu-container li a {
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    background-color: rgba(255,255,255,0.9);
    font-size: 18px;
    text-decoration: none;
    color: #777777;
}  

.menu-container li a:link {
    text-decoration: none;
}
  
.menu-container li a:visited {
    text-decoration: none;
}
  
.menu-container li a:hover {
    text-decoration: none;
}
  
.menu-container li a:active {
    text-decoration: none;
}


.wrapper {
    clear: both;
    overflow: auto;
    padding: 0px;
    min-height: 100%;
    margin: 0px 0 -90px;
}

.content {
    width: 960px;
    background-color: #ffffff;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 28px;
    border: solid 1px #cccccc;
    /* overflow: auto; */
}

.content h1 {
    color: #4aaaa5;
    border-bottom: solid 2px #cccccc;
    margin: 20px 0 20px;
    padding: 20px 0 20px;
}

.profile-image {
    float: left;
    margin-right: 20px;
}

p {
    line-height: 2.5;
}

.project {
    float: left;
    margin: 20px 40px 20px 0;
    width: 275px;
    height: 200px;
    position: relative;
}

.project img {
    float: left;
    width: 100%;
}

.project h3 {
    /* box-sizing: border-box; */
    width: 100%;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:  rgba(255,255,255,0.9);
    background-color: #4aaaa5;
    margin: 0;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;    
}

.clearfix {
    clear: both;
    overflow: auto;
}

.footer,
.push {
    clear: both;
    /* overflow: auto; */
    height: 90px;
}

.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    padding: 28px;
 }